In [28]:

import pandas as pd

In [29]:
# read the contents of the csv file in a df variable
df = pd.read_csv('E:\DataScience\Camera.csv')

In [30]:
df.dtypes

Model                      object
Release date               object
Max resolution             object
Low resolution             object
Effective pixels           object
Zoom wide (W)              object
Zoom tele (T)              object
Normal focus range         object
Macro focus range          object
Storage included           object
Weight (inc. batteries)    object
Dimensions                 object
Price                      object
dtype: object

In [31]:
# Remove duplicate rows
ids = df["Model"]

In [33]:
pd.concat(g for _, g in df.groupby("Model") if len(g) > 1)b

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
8,Canon PowerShot 350,1997,640,0,0,42,42,70,3,2,320,93,149
9,Canon PowerShot 350,1997,640,0,0,42,42,70,3,2,320,93,149

In [40]:
df[df.duplicated(keep=False)]

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
8,Canon PowerShot 350,1997,640,0,0,42,42,70,3,2,320,93,149
9,Canon PowerShot 350,1997,640,0,0,42,42,70,3,2,320,93,149

In [43]:
df.drop_duplicates(keep=False).head(10)

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
0,STRING,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE
1,Agfa ePhoto 1280,1997,1024,640,0,38,114,70,40,4,420,95,179
2,Agfa ePhoto 1680,1998,1280,640,1,38,114,50,0,4,420,158,179
3,Agfa ePhoto CL18,2000,640,0,0,45,45,0,0,2,0,0,179
4,Agfa ePhoto CL30,1999,1152,640,0,35,35,0,0,4,0,0,269
5,Agfa ePhoto CL30 Clik!,1999,1152,640,0,43,43,50,0,40,300,128,1299
6,Agfa ePhoto CL45,2001,1600,640,1,51,51,50,20,8,270,119,179
7,Agfa ePhoto CL50,1999,1280,640,1,34,102,0,0,8,0,0,0
10,Canon PowerShot A10,2001,1280,1024,1,35,105,76,16,8,375,110,139
11,Canon PowerShot A100,2002,1280,1024,1,39,39,20,5,8,225,110,139

In [48]:
# Find rows with invalid year
df.loc[df['Release date'] < '1900']

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
1029,Toshiba PDR-M3,123,1280,640,1,38,115,90,25,4,380,122,62

In [49]:
# Find rows with 0 or negative price
df.loc[df['Price'] <= '0']

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
7,Agfa ePhoto CL50,1999,1280,640,1,34,102,0,0,8,0,0,0
14,Canon PowerShot A30,2002,1280,1024,1,35,105,76,16,8,350,110,-599
17,Canon PowerShot A40,2002,1600,1024,1,35,105,76,16,8,350,110,0